html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imagnav {
    width: 45px;
    height: 45px;
}
ul {
    list-style-type: none;
}
nav ul {
    display: flex;
    gap: 1.9rem;
    background-color: white;
    position: sticky;
}
nav {
    position: sticky;
    top: 0;
    left: 0;
    display:flex;
    box-shadow:10px 10px 10px rgba(0,0,0,0.4);
    text-align:center;
    text-decoration:none;
    justify-content:space-between;
    background-color:white;
    padding-left: 20px;
    padding: 10px 10px;
    font-size: 17px;
    overflow:hidden;
    background-color: white;
}
.nav a.active {
    background-color:#04AA6D;
    color:white;
    padding: 20px;
}
.nav a:hover {
    background-color:#04AA6D;
    color:blue;
}
.nav-link {
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.section-intro {
    text-align: center;
    background-color:#04AA6D;
    padding:50px;
    margin-top: 4px;
    font-stretch: wider;
    color:white;
}
.section-intro h1 {
    font-size: 40px;
}
.first-intro {
    font-size: 25px;
}
.about-page h2 {
    text-align: center;
    font-size:35px;
}
.about-page p {
    font-size: 20px;
    text-align:center;

}
.about-more h2 {
    font-size: 35px;
}
.about-more p {
    font-size: 20px;
}
.btn-submit {
    background-color:#04AA6D;
    color: white;
    font-size: 25px;
}
.myskill-wrap h2 {
    font-size: 35px;
}
.My-skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}
.skill-header {
    margin-bottom: 1rem;
}
  
.skill-wrapper img {
    padding: 1.25rem;
} 
.skil {
    width: 11.875rem;
    height: 11.25rem;
}
.my-portfolio {
    font-size: 35px;
}
div.gallery {
    border: 1px solid #ccc;
}
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}
  
* {
    box-sizing: border-box;
}
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
.responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.form-caption {
    text-align: center;
}
#name {
    height: auto;
    width: 50%;
    padding: 10px;
    border-color:black;
}
#email {
    height: auto;
    width: 50%;
    padding: 10px;
    border-color:black;
}
#message-input {
    padding:200px;
    height: auto;
    width:50%;
    border-color:black;
}
.myForm {
    background-image: url("/assets/images/movingstars.gif");
    color: white;
.sub-icon {
    background-color: #04AA6D;
    padding: 15px;
}
}
.form-container {
    text-align: center;
}
.btn-sub {
    color:white;
    background-color: #04AA6D;
    border-color:black
}
.social {
    max-width: 20%;
    float: right;
}
.footer-line {
    text-align: left;
    background-image: url("/assets/images/movingstars.gif");
    height: auto;
    width:100%;
    padding: 70px;
    color:white;
    text-align: center;
}
